{"filter":false,"title":"template.jst","tooltip":"/public/assets/ckeditor/plugins/quicktable/template.jst","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":1320,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":72,"state":"start","mode":"ace/mode/text"}},"timestamp":1464430776332,"hash":"071f0dc86036f98cc2922ea2c0efd69f69e6211e"}