.hspacer{margin-right:10px;}
.button_style{font-face:verdana;}
.close {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  width: 9px;
  height: 9px;
  background-repeat: no-repeat !important;
  text-indent: -10000px;
  outline: none;
  background-image: url("img/remove-icon-small.png") !important;
}
.static-info{border-bottom:1px solid #eee;}
/*Task List Items CSS*/

.list-group .alert_delete{
    color: #8d8d8d;
    font-size: 28px;
}
.list-group .alert_delete:hover {
    color: #000 !important;
}

.ver-inline-menu{list-style:none;}

textarea.form-control {
    max-height: 100%;
    max-width: 100%;
    width:1227px;
    height:200px;
}

.list-group-item {
    margin-bottom: 0px;
}

.list-group {
    padding-top: 5px;
}

.drag-handle {
    cursor: -webkit-grab; 
    cursor: -moz-grab;
}