.hspacer{margin-right:10px;}
.button_style{font-face:verdana;}
.close {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  width: 9px;
  height: 9px;
  background-repeat: no-repeat !important;
  text-indent: -10000px;
  outline: none;
  background-image: url("img/remove-icon-small.png") !important;
}
.static-info{border-bottom:1px solid #eee;}
/*Task List Items CSS*/

.list-group .alert_delete, .delete-tasklist, .edit-tasklist, .toggle-tasklist,.move-tasklist,.edit-task-list-item{
    color: #B7B5D8;/*#8d8d8d;*/
    font-size: 25px;
}
.list-group .alert_delete:hover , .delete-tasklist:hover, .edit-tasklist:hover,.toggle-tasklist:hover,.move-tasklist:hover,
.edit-task-list-item:hover{
    color: #000 !important;
}
.task-list .panel-heading .btn-group a{
    text-shadow: none!important;
}
.col-md-7:hover + .pull-right a.icon{
    color: #000;
}
.ver-inline-menu{list-style:none;}

textarea.form-control {
    max-height: 100%;
    max-width: 100%;
    width:1227px;
    height:200px;
}

.list-group-item {
    margin-bottom: 0;
}

.checklist-item {
    padding: 10px;
    /*position: relative;*/
    left: 20px;
}
.task-list iframe{
    width: 100%!important;
}

.checklist-header {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
a:active,a:focus{
    color: #000000!important;
}
.checklist-header:hover{
    color: #1933c4!important;
}

.list-group {
    padding-top: 5px;
}

.task-list-item {
    border: none;
}
.has-border {
    border: 1px solid #ff0000!important;
}

.drag-handle {
    cursor: -webkit-grab; 
    cursor: -moz-grab;
}

.task-item-collapse {
    
}

.task-list-header {
    font-size: 22px;
}
.task-header{
    cursor: pointer;
}
.task-header .btn-group,.task-header{
    height: 30px;
}
.task-header .btn-group{
    margin: -3px 0;
}
.task-list{
    border: none!important;
}
.task-list:hover{
    border-top: 1px solid #1830ba!important;
    border-bottom: 1px solid #1830ba!important;
}
.task-header:hover{
    color: #1830ba!important;
}
.task-list .task-header .task-list-header{
    text-shadow: none!important;
    font-weight: bold;
}
.task-list .panel-body .panel-content,.checklist-item,.area-content{
    /*border-top: 5px solid rgba(230,230,230, 0.9)!important;
    border-bottom: 5px solid rgba(234, 234, 234, 0.50) !important;
    border-right: 5px solid rgba(234, 234, 234, 0.50);
    border-left: 5px solid rgba(230,230,230, 0.9);*/
}
.is-selected{
    margin-top: 15px;
    margin-bottom: 15px!important;
    box-shadow: 3px 5px 2px -1px rgba(15, 15, 15, 0.34)!important;
}
.is-task-item-selected{
    margin-top: 5px;
    padding-top: 15px!important;
    border-top: 2px groove #696969 !important;
    border-bottom: 2px groove #696969 !important;
    background: #f2f2f2;
    box-shadow: 0 5px 4px -2px rgba(15,15,15,0.34)!important;
}
.text-area-content .form-group{
    margin-bottom: 0!important;
}
