.hspacer{margin-right:10px;}
.button_style{font-face:verdana;}
.close {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  width: 9px;
  height: 9px;
  background-repeat: no-repeat !important;
  text-indent: -10000px;
  outline: none;
  background-image: url("img/remove-icon-small.png") !important;
}
.static-info{border-bottom:1px solid #eee;}
/*Task List Items CSS*/

.list-group .alert_delete, .delete-tasklist, .edit-tasklist, .toggle-tasklist{
    color: #8d8d8d;
    /*font-size: 28px;*/
}
.list-group .alert_delete:hover , .delete-tasklist:hover, .edit-tasklist:hover,.toggle-tasklist:hover{
    color: #000 !important;
}

.ver-inline-menu{list-style:none;}

textarea.form-control {
    max-height: 100%;
    max-width: 100%;
    width:1227px;
    height:200px;
}

.list-group-item {
    margin-bottom: 0px;
}

.checklist-item {
    padding: 10px;
    position: relative;
    left: 20px;
}

.checklist-header {
    font-size: 20px;
}

.list-group {
    padding-top: 5px;
}

.task-list-item {
    border: none;
}
.has-border {
    border: 1px solid #ff0000!important;
}

.drag-handle {
    cursor: -webkit-grab; 
    cursor: -moz-grab;
}

.task-item-collapse {
    
}

.task-list-header {
    font-size: 22px;
}