.hspacer{margin-right:10px;}
.button_style{font-face:verdana;}
.close {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  width: 9px;
  height: 9px;
  background-repeat: no-repeat !important;
  text-indent: -10000px;
  outline: none;
  background-image: url("img/remove-icon-small.png") !important;
}
.static-info{border-bottom:1px solid #eee;}
/*Task List Items CSS*/

.list-group .alert_delete, .delete-tasklist, .edit-tasklist, .toggle-tasklist,.move-tasklist,.edit-task-list-item{
    color: #B7B5D8;/*#8d8d8d;*/
    font-size: 25px;
}
.list-group .alert_delete:hover , .delete-tasklist:hover, .edit-tasklist:hover,.toggle-tasklist:hover,.move-tasklist:hover,
.edit-task-list-item:hover{
    color: #000 !important;
}
.task-list .panel-heading .btn-group a{
    text-shadow: none!important;
}
.col-md-7:hover + .pull-right a.icon{
    color: #000;
}
.ver-inline-menu{list-style:none;}

textarea.form-control {
    max-height: 100%;
    max-width: 100%;
    width:1227px;
    height:200px;
}

.list-group-item {
    margin-bottom: 0;
}

.checklist-item {
    padding: 10px;
    /*position: relative;*/
    left: 20px;
}
.task-list iframe{
    width: 100%!important;
}

.checklist-header {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
a:active,a:focus{
    color: #000000!important;
}
.checklist-header:hover{
    color: #1933c4!important;
}

.list-group {
    padding-top: 5px;
}

.task-list-item {
    border: none;
}
.task-list-item:not(.is-task-item-selected):hover{
    padding: 0!important;
    margin: 0!important;
    border-top: 4px solid #f2f2f2 !important;
    border-bottom: 4px solid #f2f2f2 !important;
}
.has-border {
    border: 1px solid #ff0000!important;
}

.drag-handle {
    cursor: -webkit-grab; 
    cursor: -moz-grab;
}

.task-item-collapse {
    
}

.task-list-header {
    font-size: 22px;
}
.task-header{
    cursor: pointer;
}
.task-header .btn-group,.task-header{
    height: 30px;
}
.task-header .btn-group{
    margin: -3px 0;
}
.task-list{
    border: none!important;
}
.task-list-default .box-body{
    background: #1830ba!important;
}
.task-list-default .box-title, .task-list-default .box-footer,
.new-task-content .box-title, .new-task-content .box-footer{
    font-size: 20px!important;
}
.task-list-default .box-title,
.new-task-content .box-title{
    text-transform: uppercase!important;
}
.task-list-default .box .checklist-container,
.new-task-content .box .checklist-container{
    overflow: hidden!important;
    max-height: 0!important;
}
.task-list-default .box-content{
    padding: 0!important;
    border: 0!important;
}
.task-list .task-header:hover{
    color: #1830ba!important;
    background: white!important;
}
.task-list .task-header .task-list-header{
    text-shadow: none!important;
    font-weight: bold;
}
.task-list .panel-body .panel-content,.checklist-item,.area-content{
    /*border-top: 5px solid rgba(230,230,230, 0.9)!important;
    border-bottom: 5px solid rgba(234, 234, 234, 0.50) !important;
    border-right: 5px solid rgba(234, 234, 234, 0.50);
    border-left: 5px solid rgba(230,230,230, 0.9);*/
}
.is-selected{
    border-top: 5px solid #e6e6e6!important;
    margin-top: 15px;
    margin-bottom: 35px!important;
    box-shadow: 3px 5px 2px -1px rgba(15, 15, 15, 0.34)!important;
}
.is-selected h4{
    font-size: 25px!important;
}
.is-task-item-selected{
    margin-top: 5px;
    padding-top: 15px!important;
    border-top: 2px groove #696969 !important;
    border-bottom: 2px groove #696969 !important;
    background: #f2f2f2;
    box-shadow: 0 5px 4px -2px rgba(15,15,15,0.34)!important;
}
.is-task-item-selected:hover{

}
.text-area-content .form-group{
    margin-bottom: 0!important;
}
.panel-content iframe{
    width: 100%!important;
}
body.form-control.textarea.wysihtml5-editor{
    font-size: 17px!important;
}
.wysihtml5-toolbar .btn-group .btn{
    padding: 5px 10px;
}
.section-title{
    text-transform: uppercase;
    font-weight: bold;
    color: #1933c4;
    text-shadow: none;
}
.section-list{
    margin-bottom: 5px;
}
.section-list .panel-body{
    border: none!important;
}
.section-list .panel-heading{
    color: #000000;
    background-color: #f2f2f2;
    border-color: #e6e6e6;
    font-size: 20px;
}
.section-list .panel-heading .pull-right a{
    font-size: 25px;
}
.section-list .input-group-addon{
    border: 1px solid #ccc!important;
    border-radius: 0!important;
    padding: 5px!important;
}
.section-list input[type=text]{
    text-transform: uppercase;
    font-weight: bold;
}
.section-list .panel-heading {
    font-size: 22px;
    cursor: pointer;
}
.section-list:not('#new-section') .btn-group,.section-list .panel-heading{
    height: 30px;
}
.section-list > .panel-heading > .row > .col-xs-6 .btn-group{
    margin: -7px 0;
}