/*
    Company Module Css
    Created on : May 18, 2016, 10:43:40 AM
    Author     : Jexter Dean Buenaventura
*/

.space {
  padding: 15px;
}
.mini-space {
  padding: 5px;
}

.edit-profile {
    cursor: pointer;
}

.task-permission .fa-plus {
    color: gray;
}

.name {
    font-weight: bold;
}

.taskgroup-title {
    margin: 0 auto;
    width: 25%;
    color: black;
    font-weight: bold;
    
}

.taskgroup-list .list-group-item {
    background-color: #ffffef;
    border: none;
    padding: 4px 15px;
}

.fa-chevron-down {
    color: graytext;
}

.profile-container .list-group-item {
    background-color: #ffffef;
    border: none;
    padding: 4px 15px;
}

#company_tabs li.active a {
    background-color: #4285f4;
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
}

#company_tabs a:focus {
    color: #fff !important;
}

#company_tabs li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.employee-photo {
    height: 80px;
    width: 80px;
}

.task-list {
    margin-bottom: 0px;
}

.check-list-container {
    max-height: none !important;
    overflow-y: inherit !important;
}