/*
    Company Module Css
    Created on : May 18, 2016, 10:43:40 AM
    Author     : Jexter Dean Buenaventura
*/

.space {
  padding: 15px;
}
.mini-space {
  padding: 5px;
}

.edit-profile {
    cursor: pointer;
}

.task-permission .fa-plus {
    color: gray;
}

.name {
    font-weight: bold;
}

.taskgroup-title {
    margin: 0 auto;
    width: 25%;
    color: black;
    font-weight: bold;
    
}

.taskgroup-list > .list-group-item {
    background-color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e6e6e6!important;
    /*padding: 4px 15px;*/
}
.task-list-container .taskgroup-list .list-group-item{
    background-color: #ffffef;
}
.taskgroup-list > .list-group-item:first-child{
    border-top: 1px solid #e6e6e6!important;
}

.fa-chevron-down {
    color: graytext;
}

.profile-container .list-group-item {
    background-color: #ffffef;
    border: none;
    padding: 4px 15px;
}

#company_tabs li.active a {
    background-color: #e5e5e5;;
    text-decoration: none;
    /*color: #f2f2f2;*/
    color: #000;
    font-weight: bold;
}

#company_tabs a:focus {
    /*color: #fff !important;*/
}

#company_tabs li a {
    background-color: #4285f4;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-shadow:none !important;
}

.employee-photo {
    height: 80px;
    width: 80px;
}

.task-list {
    margin-bottom: 0px;
}

.check-list-container {
    max-height: none !important;
    overflow-y: inherit !important;
}