/*
    Company Module Css
    Created on : May 18, 2016, 10:43:40 AM
    Author     : Jexter Dean Buenaventura
*/

.edit-profile {
    cursor: pointer;
}

.task-permission .fa-plus {
    color: gray;
}

.name {
    font-weight: bold;
}

.taskgroup-title {
    margin: 0 auto;
    width: 25%;
    color: black;
    font-weight: bold;
    
}

.taskgroup-list .list-group-item {
    background-color: #ffffef;
}
