/**
** Discussions CSS 
*/

.localVideoContainer {
    
}

.remoteVideoContainer {
    height: 400px;
    background-color: #fff;
    box-shadow: 3px 5px 2px -1px rgba(15, 15, 15, 0.34);
}

.remoteVideoContainer video {
    padding: 5px;
}

.remoteScreenContainer {
    height: 400px;
    background-color: #fff;
    padding: 5px;
    box-shadow: 3px 5px 2px -1px rgba(15, 15, 15, 0.34);
}

.chat-box .panel{
    box-shadow: 3px 5px 2px -1px rgba(15, 15, 15, 0.34);
    background-color:#fff;
}

.chat-box .panel-body {
    height: 400px;
}

.remoteVideo {
    
}

.remoteScreen {
    
}
