/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2016, 8:39:30 PM
    Author     : acer
*/

.space {
  padding: 15px;
}
.mini-space {
  padding: 5px;
}

#job-title {
  font-weight: bold;
}

.job-posting-container {
    margin: 0 auto;
    width: 95%;
}

 .job-posting-container .job {
  padding: 10px;
  background-color: #ffffff;
  border-color: #fffdfb;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 4px 6px 15px #bbbbbb;
}
.job-posting-container .job .container-icon {
  font-size: 40px;
  line-height: 40px;
  background: transparent;
  color: #000000;
  border-radius: 0px;
  padding: 3px;
}
.job-posting-container .job ul li i {
  font-size: 18px;
}
.job-posting-container .job-logged-out {
  padding: 10px;
  background-color: #ffffff;
  border-color: #fffdfb;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 4px 6px 15px #bbbbbb;
  margin: 0 auto;
  width: 650px;
}
.job-posting-container .job-logged-out .container-icon {
  font-size: 40px;
  line-height: 40px;
  background: transparent;
  color: #000000;
  border-radius: 0px;
  padding: 3px;
}
.job-posting-container .job-logged-out ul li i {
  font-size: 18px;
}
.job-posting-container .job-applicant-list-container {
  padding: 10px;
  background-color: #ffffff;
  border-color: #fffdfb;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 4px 6px 15px #bbbbbb;
}
.job-posting-container .job-applicant-list-container .container-icon {
  font-size: 40px;
  line-height: 40px;
  background: transparent;
  color: #000000;
  border-radius: 0px;
  padding: 3px;
}
.job-posting-container .job-applicant-list-container ul li i {
  font-size: 18px;
}
 
  .job-photo {
  height: 150px;
  width: 50%;
  padding-bottom: 30px;
}

.job-info .media {
  color: #000;
  font-weight: bold;
  font-size: 25px;
}