.box-variant(@color, @font: #ffffff){
  border: 1px solid darken(@color,10%)!important;
  > .box-header{
    color: @font!important;
    background: @color!important;
    a{
      color: #444;
    }
  }
}

.box-shadow-variant(){
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0 solid #f4f4f4;
}